{:auto-save? true, :theme :dark, :expansions #{"/Users/michaelplott/ClojureProjects/clojure-warframe/src" "/Users/michaelplott/ClojureProjects/clojure-warframe/src/clojure_warframe"}, :selection "/Users/michaelplott/ClojureProjects/clojure-warframe/src/clojure_warframe/core.clj"}